<div class="container">
  <app-page-title></app-page-title>
  <div class="row">
    <h5 class="font-weight-normal">We are here to learn Angular. We hope to be master in angular in near future. But to do this We must need to do all assignment in time. We are here to learn Angular. We hope to be master in angular in near future. But to do this We must need to do all assignment in time. We are here to learn Angular. We hope to be master in angular in near future. But to do this We must need to do all assignment in time. We are here to learn Angular. We hope to be master in angular in near future. But to do this We must need to do all assignment in time.</h5>
  </div>
</div>

<br> <br> <br> <br>
